.cell {
  text-align: center;
  width: 15px;
  height: 15px;

  &.cell-with-letter {
    border: solid 1px black;
    background-color: cadetblue;

    &.cell-with-password {
      border: solid 2px black;
      background-color: rosybrown;
    }
  }

  &.cell-without-letter {
    background-color: seashell;
  }

  &.cell-mode-hiden {
    border: solid 1px black;
    background-color: cadetblue;
  }
}
