.container {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  padding: 5px 5px;
  text-decoration: none;
}
