<div class="creator-content">
  <div *ngFor="let accessRebustItem of accessRebustItems$ | async">
    <button (click)="openModal(accessRebustItem.nameComponent)">
      {{ accessRebustItem.name }}
    </button>
  </div>
  <button (click)="appPlus()">+</button>
</div>

<div class="modal" [style.visibility]="isModalVisible ? 'visible' : 'hidden'">
  <div class="nav-modal">
    <button class="button-modal" (click)="resetNameModal()">X</button>
  </div>
  <div class="content-modal">
    <app-factory
      [nameComponent]="nameModalComponent"
      (resetNameModalEvent)="resetNameModal()"
    ></app-factory>
  </div>
</div>
