/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.rebusItem-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.rebus-content {
  margin: 10px 10px 10px;
}
